.tutorial{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

@media only screen and (min-width: 992px) {
    .lg-width{
        width: 75%;
    }
  } 
@media only screen and (max-width: 768px) {
    .login-btn{
        margin-top: 20px;
        margin-left: 40px;
    }
    .user-img-width{
        width: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
  } 
